<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EMSC.Properties.Settings.LocalDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MV.accdb" />
        <add name="EMSC.Properties.Settings.RemoteDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\waeg00202\Share\TDO-Quality Improvement\EMSC - TOOL\DB\MV.accdb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EMSC.Properties.Settings>
            <setting name="LF123ADD" serializeAs="String">
                <value>\\afeg0010\R&amp;D\MT\Circuit Breakers\SF - LF OFFER STRUCTURE 2013\ADD LF Withdrawable</value>
            </setting>
            <setting name="LF123CAT" serializeAs="String">
                <value>\\waeg00202\Share\TDO-Quality Improvement\EMSC - TOOL\Catalogues\LF 123</value>
            </setting>
            <setting name="HVXADD" serializeAs="String">
                <value>\\afeg0010\R&amp;D\MT\PIX ROF\01 BOM\0.2 Configuration Tool</value>
            </setting>
            <setting name="HVXCAT" serializeAs="String">
                <value>\\waeg00202\share\TDO-Quality Improvement\EMSC - TOOL\C.B\HVx\CB</value>
            </setting>
            <setting name="SFADD" serializeAs="String">
                <value>\\afeg0010\R&amp;D\MT\Circuit Breakers\SF - LF OFFER STRUCTURE 2013\ADD_SF\SF_MCset4</value>
            </setting>
            <setting name="SFCAT" serializeAs="String">
                <value>\\waeg00202\share\TDO-Quality Improvement\EMSC - TOOL\C.B\SF1,SF2</value>
            </setting>
            <setting name="LF123file" serializeAs="String">
                <value>\\afeg0010\R&amp;D\MT\Circuit Breakers\SF - LF OFFER STRUCTURE 2013\ADD LF Withdrawable\SOCLE _ 01-CB LF withdrawable frontal for MCset.pdf</value>
            </setting>
            <setting name="HVXfile" serializeAs="String">
                <value>\\afeg0010\R&amp;D\MT\PIX ROF\01 BOM\0.2 Configuration Tool\CB Template REV5.02 _ 2 May 2018.xlsx</value>
            </setting>
            <setting name="ProtectionCAT" serializeAs="String">
                <value>\\waeg00202\share\TDO-Quality Improvement\EMSC - TOOL\C.B\Protection Relays</value>
            </setting>
            <setting name="SFfile" serializeAs="String">
                <value>\\afeg0010\R&amp;D\MT\Circuit Breakers\SF - LF OFFER STRUCTURE 2013\ADD_SF\SF_MCset4\SF WITHDRAWABLE FOR MCset4 IEC V02.02.xlsm</value>
            </setting>
            <setting name="Remote_file" serializeAs="String">
                <value>\\waeg00202\share\TDO-Quality Improvement\EMSC - TOOL\DB\MV.accdb</value>
            </setting>
            <setting name="AmeterFile" serializeAs="String">
                <value>\\waeg00202\share\TDO-Quality Improvement\OUR (Optimum References)\Current\Ammeter Scales &amp; Ammeters (Karim Aly)\standard Ammeter Scales &amp; Ammeters.xlsx</value>
            </setting>
            <setting name="LampFile" serializeAs="String">
                <value>\\waeg00202\share\TDO-Quality Improvement\OUR (Optimum References)\Current\Lamps, Pushbuttons, Selector switches (Mohamed Ramadan)\Standard Lamps , Selectors &amp; PB.xlsx</value>
            </setting>
            <setting name="Internal_Lighting" serializeAs="String">
                <value>\\waeg00202\share\TDO-Quality Improvement\EMSC - TOOL\C.B\Internal Lighting\Internal Lighting for MV SWGRs.xlsx</value>
            </setting>
            <setting name="ControlAux" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateLink" serializeAs="String">
                <value>\\waeg00202\share\TDO-Quality Improvement\EMSC - TOOL\DB</value>
            </setting>
            <setting name="UpdateVersion" serializeAs="String">
                <value>1.01.01</value>
            </setting>
            <setting name="UpdateFile" serializeAs="String">
                <value>MVRX64.msi</value>
            </setting>
        </EMSC.Properties.Settings>
    </userSettings>
</configuration>